* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

#wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    border-left: 15rem solid rgb(31, 15, 15);
    border-right: 15rem solid rgb(31, 15, 15);
}

#main-left {
    align-items: stretch;
    flex: 2;
    background-image: url(https://images.unsplash.com/photo-1564598328706-70cecb6ad257?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 120%;
    background-repeat: no-repeat;
}

#whole-logo {
    background-color: #7a75281e;
    display: flex;
    margin-top: 10%;
}

#logo {
    width: 10rem;
}

#logo-name {
    color: white;
    position: relative;
    font-size: 6em;
    align-self: center;
}

#main-right {
    align-items: stretch;
    flex: 3;
}